erupt-app:
  waterMark: false
  verifyCodeCount: 2
  pwdTransferEncrypt: true
  locales: [ "zh-CN","zh-TW","en-US","ja-JP" ]
erupt:
  csrfInspect: true
  redisSession: false
  uploadPath: ${UPLOAD_PATH:/tmp/upload}
  keepUploadFileName: false
  upms.expireTimeByLogin: 120
  security.recordOperateLog: false

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/workspace}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

knife4j:
  enable: true
  openapi:
    title: QA Workspace API
    description: "`QA Workspace API workspace"
    email: fluentqa@163.com
    concat: fluent-qa
    group:
      test1:
        group-name: qa workspace api
        api-rule: package

server:
  compression:
    mime-types: application/javascript,text/css,application/json,application/xml,text/html,text/xml,text/plain
    enabled: true
  error:
    includeException: true
    includeStacktrace: ALWAYS
    includeMessage: ALWAYS
  port: 9090

logging:
  level:
    root: INFO
    io.fluentqa: DEBUG
    org.hibernate: INFO
    io.fluent: DEBUG
    xyz.erupt: DEBUG
    org.springframework: DEBUG
    org.springframework.boot: DEBUG
    org.springframework.boot.autoconfigure: DEBUG
    org.springframework.context: DEBUG
    org.springframework.beans: DEBUG
    org.springframework.jdbc: DEBUG
    org.springframework.orm: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: ../temp/qam-application.log

debug: true

magic-api:
  web: /fluentapi/v1
  resource.location: ./magic-script
